Package: veles
Homepage: https://veles.network
Maintainer: Altcoin Baggins <velesdevs@gmail.com>
Priority: optional
Section: util
Description: Veles Core daemon and GUI
Depends: velesd, veles-qt
Version: 0.17.1.2
Architecture: amd64
