[Desktop Entry]
Version=1.0
Name=Veles Core GUI
Comment=Connect to the Veles P2P Network
Comment[de]=Verbinde mit dem Veles peer-to-peer Netzwerk
Comment[fr]=Veles, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Veles, eşten eşe kriptografik sanal para birimi
Exec=veles-qt %u
Terminal=false
Type=Application
Icon=veles128
MimeType=x-scheme-handler/veles;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Veles-qt
