Package: veles-qt
Homepage: https://veles.network
Maintainer: Altcoin Baggins <velesdevs@protonmail.com>
Priority: optional
Section: util
Description: Veles Core Qt desktop client.
Version: 0.17.1.2
Architecture: armhf
