Package: veles-tx
Homepage: https://veles.network
Maintainer: Altcoin Baggins <velesdevs@protonmail.com>
Priority: optional
Section: util
Description: Veles Core TX utility
Version: 0.18.1
Architecture: amd64
